body{
    font-family: 'Montserrat', sans-serif;
    color: #111111;
    background-color: #FAFAFA;;
}

img{
    display: block;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
}
ul, ol{
    list-style: none;
    padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 1px solid tomato; */
}

.section-title{
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
.section-title span{
    color: #FD9222;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    gap: 365px;
}

.header-logo {
    display: flex;
    gap: 4px;
    align-items: center;
    color: #111;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
}
.header-logo span{
    color: #111;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
}

.header-menu-list {
    display: flex;
    gap: 24px;
    align-items: center;
}
.header-menu-link {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    transition: color 300ms ease;
}
.header-menu-link:hover, 
.header-menu-link:active, 
.header-menu-link:focus{
    color:#FD9222;

}

.header-social-list {
    display: flex;
    gap: 14px;
    justify-content: flex-end;
}

.header-social-item {
    width: 40px;
    height: 40px;
}

.header-social-link {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111111;
    transition: color 300ms ease, border-color 300ms ease;
}
.header-social-icon{
    fill: currentColor;
}
.header-social-link:hover{
    border-color: rgba(253, 146, 34, 0.1);
    color: #FD9222;
}

 /* ============HERO============== */

.hero {
    padding-bottom: 80px;
}

.hero-container{
    background-color: rgba(17, 17, 17, 0.60);
    background-image: linear-gradient(rgba(17, 17, 17, 0.40), rgba(17, 17, 17, 0.40)), url(../images/chocolate_main-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    padding: 381px 40px 40px 40px;
    border-radius: 30px;
}

.hero-title {
    color: #FFFFFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    max-width: 484px;
    width: 100%;
    padding-bottom: 32px;
}
.hero-btns{
    display: flex;
}
.hero-buy-btn {
    background-color: #FD9222;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    padding: 14px 40px;
    border: 1px solid #FD9222;
    border-radius: 100px;
    transition: color 300ms ease, background-color 300ms ease;

}
.hero-buy-btn:focus,
.hero-buy-btn:hover,
.hero-buy-btn:active{
    background-color: #FCF1E0;
    color:#FD9222;
}

.hero-made-btn {
    background-color: transparent;
    color:#FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    padding: 14px 40px;
    border: 1px solid #FFF;
    border-radius: 100px;
    margin-left: 14px;
    transition: color 300ms ease, border-color 300ms ease;
}
.hero-made-btn:hover,
.hero-made-btn:focus,
.hero-made-btn:active{
    background-color: transparent;
    color: #FD9222;
    border-color: #FD9222;
}

.hero-scroll-btn {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.03em;
    margin-left: 585px;
    transition: color 300ms ease; 
    display: flex;
    gap: 14px;
    align-items: center;
}
.hero-scroll-btn::after{
    content: '';
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url(../images/symbol-defs.svg#icon-instagram);
    fill: #111111;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 300ms ease;
}
.hero-scroll-btn:hover, 
.hero-scroll-btn:active, 
.hero-scroll-btn:focus{
    color: #FD9222;
}
.hero-scroll-btn:hover::after{
    background-color: #FD9222;
}

 /* ============FEATURES============== */

.features {
    background-color: #1E1823;
    padding: 50px;
    padding-bottom: 50px;
}

.features-list {
    display: flex;
    justify-content: space-between;
}

.features-item {
    width: calc((100% - 88px * 2) / 3);
    position: relative;
}
.features-icon-wrap{
    width: 62px;
    height: 62px;
    margin-bottom: 22px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-icon{
    fill: #FD9222;
}

.features-subtitle {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 18px;
}

.features-descr {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.02em;
}
.features-item:not(:last-child):after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    right: -44px;
    height: 124px;
    background: rgba(255, 255, 255, 0.50);
}


.taste {
    padding-top: 120px;
}

.taste-title {}
.taste-title span{}

.taste-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 24px;
}

.taste-item {
    padding: 28px 23px;
    border-radius: 15px;
    width: calc((100% - 24px * 3) / 4);
}
.taste-item:nth-child(4n + 1){
    background-color: #FD9222;
    color: #FFFFFF;
}
.taste-item:nth-child(even){
    background-color: #FFFF;
    border: 1px solid #FD9222;
}
.taste-item:nth-child(4n + 3){
    background-color: #1E1823;
    color:#FFFFFF;
}

.taste-img {}

.taste-subtitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding-top: 36px;
}


.made {
    padding-top: 120px;
}

.made-title {
    padding-bottom: 50px;
}

.made-wrap{
    display: flex;
    gap: 20px;
    border-radius: 15px;
    background: #FFF;
}
.made-img {}

.made-text-container{
    padding: 32px;
}

.made-subtitle {
    padding-bottom: 28px;
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    /* 133.333% */
}

.made-text-container{

}
.made-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.made-item {
}

.made-descr {
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.02em;
}


.products {
    padding-top: 120px;
}

.products-title {
    padding-bottom: 50px;
}

.section-title {}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 18px;
}

.products-item {
    width: calc((100% - 18px * 3) / 4);
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    padding: 32px 20px;
}

.products-img {}

.products-subtitle {
    padding-top: 8px;
    text-align: center;
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    /* 133.333% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.products-descr {
    text-align: center;
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: -0.02em;
    padding-bottom: 18px;
}

.products-buy-btn {
    display: block;
    margin: 0 auto;
    color: #111;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
    padding: 8px 20px;
}



 /* ============SELLERS============== */

.sellers {
    padding-top: 120px;
}

.sellers-title {
    padding-bottom: 50px;
}

.sellers-list {
    display: flex;
    justify-content: space-between;
}

.sellers-item {
    width: calc((100% - 16px * 2)/3);
}

.sellers-subtitle {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    /* 133.333% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    border-right: 1px solid rgba(17, 17, 17, 0.10);
    border-bottom: 1px solid rgba(17, 17, 17, 0.10);
    border-left: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
}
.sellert-img{
  display: block;
}
.sellers-card-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    border-radius: 15px 15px 0px 0px;
    transition: transform 250ms ease-in-out;
}
.sellers-overlay-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 288px;
    padding: 178px 40px;
    background: linear-gradient(165deg, rgba(253, 253, 255, 0.10) 3.97%, rgba(8, 2, 21, 0.00) 109.76%);
    color: #FAFAFA;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.02em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    /* transform: translateY(100%); */
    opacity: 0%;
}
.sellers-item:hover .sellers-img{
    filter: blur(4px);
    overflow: hidden;
    border-radius: 4px;
    
}
.sellers-item:hover .sellers-overlay-text{
    opacity: 100%;
}

 /* ============LOVED============== */

.loved {
    padding-top: 120px;
    padding-bottom: 120px;
}

.loved-title {
    padding-bottom: 50px;
}

.loved-list {
    display: flex;
    gap: 28px;
    margin-bottom: 50px;
}

.loved-item {
    padding: 56px 24px 24px 24px;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    box-shadow: 0px 9.04932px 100px 0px rgba(17, 17, 17, 0.03);
    width: calc((100% - 28px * 2) / 3);
    position: relative;
}
.loved-img{
  border-radius: 50%;
  position: absolute;

  top: 0px;
  left: 0px;
}    

.loved-subtitle {
    color: #111;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    /* 133.333% */
    padding-bottom: 24px;
}

.loved-descr {
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.02em;
}

.loved-review-btn {
    display: block;
    margin: 0 auto;
    padding: 14px 40px;
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: 1px solid #FD9222;
    transition: color 300ms ease, background-color 300ms ease;
}
.loved-review-btn:focus, 
.loved-review-btn:hover, 
.loved-review-btn:active{
    background-color: #FD9222;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}



 /* ============FOOTER============== */

.footer {
    background-color: #1E1823;
    padding-bottom: 86px;
}

.footer-wrap{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.footer-links-wrap{
    display: flex;
    gap: 50px;
    padding-bottom: 54px;
    
}

.footer-social-wrap, .footer-address-wrap{
    display: flex;
    flex-direction: column;
}

.footer-title {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    width: 100%;
    max-width: 300px;
}
.footer-title span{
    color: #FD9222;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    /* 121.429% */
    letter-spacing: -0.03em;
}

.footer-social-title {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    /* 128.571% */
}

.footer-social-list {
    display: flex;
    gap: 14px;
    justify-content: space-between;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 300ms ease;
    color: #FFFFFF;
}
.footer-social-icon{
    fill: currentColor;
}
.footer-social-link:hover{
    color: #FD9222;
}


.contacts-title {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    /* 128.571% */
}

.footer-address {}

.footer-address-list {}

.footer-address-item {}

.footer-address-link{
    font-style: normal;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.02em;
}

.footer-navigation {
}

.footer-navigation-list {
    display: flex;
    gap: 24px;
}

.footer-navigation-item {}

.footer-navigation-link {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    transition: color 300ms ease;
}
.footer-navigation-link:focus,
.footer-navigation-link:hover,
.footer-navigation-link:active{
    color:#FD9222;
}