body{
    font-family: 'Montserrat', sans-serif;
    color: #111111;
    background-color: #FAFAFA;;
}

img{
    display: block;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
}
ul, ol{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 1px solid tomato; */
}

.section-title{
    color: #111;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
.section-title span{
    color: #FD9222;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
}

.header-navigation {
    display: flex;
}

.header-logo {
    display: flex;
    gap: 4px;
    align-items: center;
    color: #111;
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
}
.header-logo span{
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
}
.header-logo-img{
    width: 21px;
    height: 21px;
}
.header-menu-list {
    display: none;
    gap: 24px;
    align-items: center;
}
.header-menu-link {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    transition: color 300ms ease;
}
.header-menu-link:hover, 
.header-menu-link:active, 
.header-menu-link:focus{
    color:#FD9222;

}

.header-social-list {
    display: none;
    gap: 14px;
    justify-content: flex-end;
}

.header-social-item {
    width: 40px;
    height: 40px;
}

.header-social-link {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111111;
    transition: color 300ms ease, border-color 300ms ease;
}
.header-social-icon{
    fill: currentColor;
}
.header-social-link:hover{
    border-color: rgba(253, 146, 34, 0.1);
    color: #FD9222;
}
.header-burger-btn{
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    
    align-items: center;
    background-color: transparent;
    border: none;
    fill: #1E1823;
    transition: fill 300ms ease;
}
.header-burger-icon{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}
.header-burger-btn:hover{
    fill: #FD9222;
}

.mob-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: none;
}

.mob-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1e1823;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
}

.menu-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-bottom: 88px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.close-btn-icon{
    width: 100%;
    height: 100%;
    stroke: #FFFFFF;
}

.mob-menu-list {
    margin-bottom: 50px;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-menu-link {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    /* 114.286% */
    letter-spacing: -0.02em;
}


.mob-soc {
    display: flex;
    gap: 14px;
    margin-top: auto;
}

.mob-soc-item {
    width: 40px;
    height: 40px;
}

.mob-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.mob-soc-icon {
    fill: #ffffff;
}


 /* ============HERO============== */

.hero {
    padding-bottom: 80px;
}

.hero-container{
    background-color: rgba(17, 17, 17, 0.60);
    background-image: linear-gradient(rgba(17, 17, 17, 0.40), rgba(17, 17, 17, 0.40)), url(../images/chocolate_main-mob-1x-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    padding: 395px 15px 15px 15px;
    border-radius: 30px;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-container {
        background-image: linear-gradient(rgba(17, 17, 17, 0.40), rgba(17, 17, 17, 0.40)), url(../images/chocolate_main-mob-2x-min.jpg);
    }
}

.hero-title {
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    max-width: 484px;
    width: 100%;
    padding-bottom: 32px;
}
.hero-btns{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.hero-btns-wrap{
    display: flex;
    gap: 14px;
}
.hero-buy-btn {
    background-color: #FD9222;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    padding: 12px 28px;
    border: 1px solid #FD9222;
    border-radius: 100px;
    transition: color 300ms ease, background-color 300ms ease;

}
.hero-buy-btn:focus,
.hero-buy-btn:hover,
.hero-buy-btn:active{
    background-color: #FCF1E0;
    color:#FD9222;
}

.hero-made-btn {
    background-color: transparent;
    color:#FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    padding: 12px 28px;
    border: 1px solid #FFF;
    border-radius: 100px;
    transition: color 300ms ease, border-color 300ms ease;
}
.hero-made-btn:hover,
.hero-made-btn:focus,
.hero-made-btn:active{
    background-color: transparent;
    color: #FD9222;
    border-color: #FD9222;
}

.scroll-link-wrap{
    display: flex;
}
.hero-scroll-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: -0.03em;
    transition: color 300ms ease, fill 300ms ease;
}
.scroll-btn{
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 300ms ease;
}
.scroll-btn-icon{
    fill: #FD9222;
    transition: fill 300ms ease;
}
.hero-scroll-link:hover{
    color: #FD9222;
}
.hero-scroll-link:hover .scroll-btn{
    background-color: #FD9222;
}
.hero-scroll-link:hover .scroll-btn .scroll-btn-icon {
    fill: #ffffff;
}

 /* ============FEATURES============== */

.features {
    background-color: #1E1823;
    padding-top: 20px;
    padding-bottom: 20px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-right: 28px;
    margin: 0;
}

.features-item {
    width: 100%;
    position: relative;
}
.features-icon-wrap{
    width: 62px;
    height: 62px;
    margin-bottom: 22px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-icon{
    fill: #FD9222;
}

.features-subtitle {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 18px;
}

.features-descr {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.02em;
}
.features-item:not(:last-child):after{
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    right: -44px;
    height: 124px;
    background: rgba(255, 255, 255, 0.50);
}


.taste {
    padding-top: 80px;
}

.taste-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.taste-title{
    margin: 0 auto;
}

.taste-item {
    padding: 28px 23px;
    border-radius: 15px;
    width: 100%;
}
.taste-item:not(:nth-child(-n + 4)){
    display: none;
}
.taste-item:nth-child(4n + 1){
    background-color: #FD9222;
    color: #FFFFFF;
}
.taste-item:nth-child(even){
    background-color: #FFFF;
    border: 1px solid #FD9222;
}
.taste-item:nth-child(4n + 3){
    background-color: #1E1823;
    color:#FFFFFF;
}

.taste-img {
    display: block;
    margin: 0 auto;
}

.taste-subtitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding-top: 36px;
}


.made {
    padding-top: 75px;
}

.made-title {
    margin-bottom: 32px;
}

.made-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.made-img {
    width: 100%;
    height: 500px;
}

.made-text-container{
    padding: 20px 14px;
    border-radius: 15px;
    background: #ffffff;
}

.made-subtitle {
    padding-bottom: 28px;
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    /* 133.333% */
}

.made-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.made-descr {
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.02em;
    padding-left: 16px;
    position: relative;
}
.made-descr::after{
        content: "";
        position: absolute;
        left: 0;
        top: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #4C4C4C;
            border: 1.5px solid#ECEDED;
}


.products {
    padding-top: 100px;
}

.products-title {
    padding-bottom: 32px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.products-item {
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    padding: 32px 20px;
}

.products-img {
    margin: 0 auto;
}

.products-subtitle {
    padding-top: 8px;
    text-align: center;
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    /* 133.333% */
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.products-descr {
    text-align: center;
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: -0.02em;
    padding-bottom: 18px;
}

.products-buy-btn {
    display: block;
    margin: 0 auto;
    color: #111;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
    padding: 8px 20px;
}



 /* ============SELLERS============== */

 .sellers {
     padding-top: 80px;
 }

 .sellers-title {
     padding-bottom: 32px;
 }

 .sellers-list {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 .sellers-item:not(:first-child){
    display: none;
 }
 .sellers-item {
     width: 100%;
 }

 .sellers-subtitle {
     color: #111;
     font-size: 18px;
     font-weight: 600;
     line-height: 1.33;
     /* 133.333% */
     letter-spacing: -0.02em;
     text-transform: uppercase;
     padding-top: 28px;
     padding-bottom: 28px;
     text-align: center;
     border-radius: 0px 0px 15px 15px;
     border-right: 1px solid rgba(17, 17, 17, 0.10);
     border-bottom: 1px solid rgba(17, 17, 17, 0.10);
     border-left: 1px solid rgba(17, 17, 17, 0.10);
     background: #FFF;
 }

 .sellers-img {
     width: 100%;
 }

 .sellers-card-wrapper {
     position: relative;
     overflow: hidden;
     display: flex;
     border-radius: 15px 15px 0px 0px;
     transition: transform 250ms ease-in-out;
 }

 .sellers-overlay-text {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     width: 288px;
     padding: 178px 40px;
     background: linear-gradient(165deg, rgba(253, 253, 255, 0.10) 3.97%, rgba(8, 2, 21, 0.00) 109.76%);
     color: #FAFAFA;
     font-size: 14px;
     font-weight: 400;
     line-height: 1.28;
     /* 128.571% */
     letter-spacing: -0.02em;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     /* transform: translateY(100%); */
     opacity: 0%;
 }

 .sellers-item:hover .sellers-img {
     filter: blur(4px);
     overflow: hidden;
     border-radius: 4px;

 }

 .sellers-item:hover .sellers-overlay-text {
     opacity: 100%;
 }

 /* ============LOVED============== */

.loved {
    padding-top: 80px;
    padding-bottom: 80px;
}

.loved-title {
    padding-bottom: 74px;
}

.loved-list {
    display: flex;
    gap: 28px;  
    margin-bottom: 32px;
}
.loved-item:not(:first-child){
    display: none;
}

.loved-item {
    padding: 56px 24px 24px 24px;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    box-shadow: 0px 9.04932px 100px 0px rgba(17, 17, 17, 0.03);
    width: 100%;
    position: relative;
}
.loved-img{
  border-radius: 50%;
  position: absolute;

  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}    

.loved-subtitle {
    color: #111;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    /* 133.333% */
    padding-bottom: 24px;
}

.loved-descr {
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.02em;
}

.loved-review-btn {
    display: block;
    margin: 0 auto;
    padding: 14px 40px;
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: 1px solid #FD9222;
    transition: color 300ms ease, background-color 300ms ease;
}
.loved-review-btn:focus, 
.loved-review-btn:hover, 
.loved-review-btn:active{
    background-color: #FD9222;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}



 /* ============FOOTER============== */

.footer {
    background-color: #1E1823;
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-wrap{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.footer-links-wrap{
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 32px;
    
}

.footer-social-wrap, .footer-address-wrap{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.footer-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    line-height: 1.16;
    letter-spacing: -0.02em;
    width: 100%;
    max-width: 300px;
}
.footer-title span{
    color: #FD9222;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    /* 121.429% */
    letter-spacing: -0.03em;
}

.footer-social-title {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    margin-bottom: 14px;
    /* 128.571% */
}

.footer-social-list {
    display: flex;
    gap: 14px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 300ms ease;
    color: #FFFFFF;
}
.footer-social-icon{
    fill: currentColor;
}
.footer-social-link:hover{
    color: #FD9222;
}


.contacts-title {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    margin-bottom: 14px;
    /* 128.571% */
}

.footer-address-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-address-link{
    font-style: normal;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.02em;
}
.footer-nav-wrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
}

.footer-navigation-list {
    width: 124px;
    display: flex;
    gap: 18px;
    flex-direction: column;
}

.footer-navigation-link {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    transition: color 300ms ease;
}
.footer-navigation-link:focus,
.footer-navigation-link:hover,
.footer-navigation-link:active{
    color:#FD9222;
}
.footer-submit{
    display: flex;
    justify-content: space-between;
}
.footer-submit-input{
    width: 207px;
    height: 45px;
    padding: 14px 18px;
    border-radius: 30px;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    background-color: transparent;
    outline: none;
    transition: border-color 300ms ease;

    color: rgba(255, 255, 255, 0.30);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02em;
}
.footer-submit-input:focus{
    border-color:#FD9222;
}

.footer-submit-btn{
    padding: 14px 24px;
    border-radius: 100px;
    background-color: #FD9222;
    margin-left: 8px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    transition: background-color 300ms ease, color 300ms ease;
}
.footer-submit-btn:hover,
.footer-submit-btn:active,
.footer-submit-btn:focus {
    background-color: #FCF1E0;
    color: #FD9222;
}

 /* ============MODAL============== */
 .modal-backdrop{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    pointer-events: none;
    transition: background-color 250ms ease;
 }
.modal-backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
 .modal{
    position: relative;
    width: 311px;
    min-height: 794px;
    border-radius: 15px;
    background: #FAFAFA;
    padding: 32px 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 250ms ease;
 }
 .modal-close-btn{
    position: absolute;
    background-color: transparent;
    border: none;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: stroke 250ms ease;
    cursor: pointer;
    top: 24px;
    right: 24px;
 }
 .modal-close-icon{
    stroke: #111111;
    transition: stroke 250ms ease;
 }
 .modal-close-btn:hover .modal-close-icon,
  .modal-close-btn:focus .modal-close-icon,
   .modal-close-btn:active .modal-close-icon{
    stroke:#FD9222;
}
.modal-title{
    max-width: 255px;
    color: #111;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
.modal-title span{
    color:#FD9222;

}
.modal-form{
    margin-top: 32px;
}
.modal-form-input{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 18px;
}
.modal-form-label{
    color: rgba(64, 64, 64, 0.30);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02em;
}
.modal-input-wrapper{
position: relative;
}

.user-input{
    width: 100%;
    height: 68px;
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    padding: 22px 62px 22px 62px;
    background-color: transparent;
    outline: none;
    transition: border 300ms ease;
}
.input-user-icon {
    top: 50%;
    left: 24px;
    position: absolute;
    transform: translateY(-50%);
    fill: #404040;
    transition: fill 300ms ease;
}
.user-input:active,
.user-input:focus{
    border: 1.5px solid #FD9222;
}
.user-input:active + .input-user-icon,
.user-input:focus + .input-user-icon{
    fill: #FD9222;
}
.modal-form-comment{
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.user-comment{
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    height: 137px;
    outline: none;
    padding: 22px 24px;
    resize: none;
    color: rgba(64, 64, 64, 0.30);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02em;
    transition: border-color 300ms ease;
    background-color: transparent;
    margin-bottom: 18px;
}
.user-comment::placeholder{
    color: rgba(64, 64, 64, 0.30);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02em;
}
.user-comment:focus,
.user-comment:active{
    border-color: #FD9222;
}
.modal-terms{
    margin-bottom: 40px;
}
.modal-user-label{
    color: rgba(64, 64, 64, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02em;
}
.modal-user-label .modal-privacy-link{
    color:#FD9222;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
}

.modal-checkbox-custom {
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    justify-content: center;
    fill: transparent;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid rgba(17, 17, 17, 0.14);
    background-color: transparent;
    transition: background-color 250ms ease, border 250ms ease, fill 250ms ease;
}

.modal-checkbox:checked + .modal-user-label .modal-checkbox-custom{
    background-color: #FD9222;
    border: none;
    fill: #F4F4FD;
}
.modal-submit-btn{
    padding: 14px 40px;
    border-radius: 100px;
    background: #FD9222;
    border: none;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/* mobile */
@media screen and (min-width: 375px){
    .container{
        max-width: 365px;
    }
}



/* tablet */
@media screen and (min-width: 768px){
    .container{
        max-width: 734px;
    }
    .header-burger-btn{
        display: none;
    }
    .header-menu-list{
        display: flex;
        margin-left: 47px;
    }
    .header-social-list{
        display: flex;
    }
    .section-title {
        font-size: 24px;
    }
    .section-title span{
        font-size: 24px;
    }
    .features{
        padding: 50px 32px;
    }
    .hero-container{
        background-image: linear-gradient(rgba(17, 17, 17, 0.40), rgba(17, 17, 17, 0.40)), url(../images/chocolate_main-tab-1x-min.jpg);
        padding: 671px 40px 40px 40px;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-container {
            background-image: linear-gradient(rgba(17, 17, 17, 0.40), rgba(17, 17, 17, 0.40)), url(../images/chocolate_main-tab-2x-min.jpg);
        }
    }
    .hero-title{
        font-size: 28px;
    }
    .hero-btns {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;
    }
    .hero-made-btn{
        padding: 14px 40px;
    }
    .hero-but-btn{
        padding: 14px 40px;
    }
    .hero-scroll-link{
        font-size: 14px;
    }
    .scroll-btn{
        width: 38px;
        height: 38px;
    }
    .features-list{
        gap: 88px 44px;
        padding-right: 0;
        justify-content: space-between;
    }
    .features-item{
        width: calc((100% - 88px) / 2);
    }
    .taste{
        padding-top: 100px;
    }
    .taste-title{
        width: 411px;
        text-align: center;
    }
    .taste-list{
        gap: 32px;
    }
    .taste-item{
        width: calc((100% - 32px) / 2);
    }
    .taste-item:not(:nth-child(-n + 4)) {
        display: block;
    }
    .made {
        padding-top: 100px;
        margin: 0 auto;
    }
    .made-title {
        margin-bottom: 50px;
    }
    .made-wrap {
        margin-left: 77px;
        margin-right: 77px;
    }
    .made-text-container {
        padding: 32px;
    }
    .made-img {
        height: 400px;
    }
    .products-title{
        padding-bottom: 50px;
    }
    .products-item{
        width: calc((100% - 32px) / 2);
    }
    .sellers{
        padding-top: 100px;
    }
    .sellers-title{
        padding-bottom: 50px;
    }
    .sellers-list{
        gap: 16px;
    }
    .sellers-item:nth-child(2n + 1){
        display: block;
    }
    .sellers-item{
        width: calc((100% - 16px) / 2);
    }
    .loved{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .loved-title{
        padding-bottom: 91px;
    }
    .loved-list{
        margin-bottom: 50px;
    }
    .loved-item:nth-child(2n){
        display: block;
    }
    .loved-item{
        width: calc((100% - 16px) / 2);
    }
    .footer{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer-title {
        color: #FFF;
        font-size: 28px;
        font-weight: 500;
        line-height: 34px;
        line-height: 1.21;
        letter-spacing: -0.02em;
        width: 100%;
        max-width: 300px;
    }
    .footer-wrap{
        flex-direction: row;
    }
    .footer-links-wrap{
        flex-direction: row;
        padding-bottom: 50px;
        gap: 40px;
    }
    .footer-social-wrap{
        margin-top: 0;
    }
    .footer-address-wrap{
        margin-top: 0;
    }
    .footer-nav-wrapper{
        flex-direction: row;
        align-items: center;
        margin-top: 24px;
    }
    .footer-navigation-list{
        flex-direction: row;
        gap: 16px;
        width: auto;
    }
    .footer-submit-input{
        width: 233px;
        padding: 14px 24px;
    }
    .mob-menu.is-open {
        opacity: 0;
        visibility: hidden;
        pointer-events: auto;
    }
    .modal{
        width: 517px;
        padding: 40px;
    }
    .modal-title{
        font-size: 24px;
        max-width: 298px;
    }
    .modal-form{
        margin-top: 40px;
    }
}


/* desktop */
@media screen and (min-width: 1200px){
    .container{
        max-width: 1166px;
    }
    .header-menu-list{
        margin-left: 365px;
    }
    .section-title {
        font-size: 24px;
    }
    .section-title span{
        font-size: 24px;
    }
    .hero-container{
        background-image: linear-gradient(rgba(17, 17, 17, 0.40), rgba(17, 17, 17, 0.40)), url(../images/chocolate_main-min-min.jpg);
        padding: 381px 40px 40px 40px;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-container {
            background-image: linear-gradient(rgba(17, 17, 17, 0.40), rgba(17, 17, 17, 0.40)), url(../images/chocolate_main-desk-2x-min.jpg);
        }
    }
    .features{
        padding: 50px;
    }
    .features-list{
        gap: 88px;
    }
    .features-item{
        width: calc((100% - 88px * 2) / 3);
    }
    .features-item:not(:last-child):after {
        display: block;
    }
    .taste{
        padding-top: 120px;
    }
    .taste-list{
        gap: 24px 32px;
    }
    .taste-item{
        width: calc((100% - 32px * 3) / 4);
    }
    .taste-item:not(:nth-child(-n + 4)) {
        display: block;
    }
    .made{
        padding-top: 120px;
    }
    
    .made-title {
        margin-bottom: 50px;
    }
    .made-wrap{
        margin-left: 0;
        margin-right: 0;
    }
    .made-div-item{
        height: 400px;
        width: calc((100% - 20px) / 2);
    }
    .made-img {
        height: 400px;
    }
    .made-text-container{
        padding: 32px;
    }
    .products {
        padding-top: 120px;
    }
    .products-title {
        padding-bottom: 50px;
    }
    .products-list{
        gap: 24px 18px;
    }
    .products-item{
        width: calc((100% - 18px * 3) / 4);
    }
    .sellers {
        padding-top: 120px;
    }

    .sellers-title {
        padding-bottom: 50px;
    }

    .sellers-list {
        gap: 16px;
    }

    .sellers-item:nth-child(2n+ 2){
        display: block;
    }

    .sellers-item {
        width: calc((100% - 16px * 2) / 3);
    }
    .loved {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .loved-title {
        padding-bottom: 91px;
    }

    .loved-list {
        margin-bottom: 50px;
    }

    .loved-item:nth-child(3n) {
        display: block;
    }

    .loved-item {
        width: calc((100% - 16px * 2) / 3);
    }
    .footer-nav-wrapper{
        gap: 0;
        justify-content: space-between;
    }
    .footer-submit-input{
        width: 313px;
    }
    .modal{
        width: 517px;
    }
}